<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\style.css">
    <link rel="stylesheet" href="metroui\css\metro-icons.css">
    <link rel="stylesheet" href="metroui\css\metro.min.css">
    <title>Contato</title>
  </head>
  <body>
    <br>
    <div id="app">
      <button class="button yellow outline" v-on:click="OpenForm(true)"><span class="mif-chat-bubble"></span> Enviar Mensagem </button>

      <div id="dvForm" class="max-width white-transparent">
        <h1>Contato </h1>
  <br>
        <div>
          <!-- Name -->
          <div class="form-group">
            <label>Nome completo <span class="red-alert">{{error.name}}</span></label>
            <input v-model="contact.name" type="text" placeholder="Seu nome completo" data-role="input" data-prepend="<span class='mif-user'></span>"/>
          </div>

          <!-- Email -->
          <div class="form-group">
            <label>E-mail <span class="red-alert">{{error.email}}</span></label>
            <input v-model="contact.email" type="email" placeholder="email@domínio.com" data-role="input" data-prepend="<span class='mif-contacts-mail'></span>"/>
          </div>

          <!-- Subject -->
          <div class="form-group">
            <label>Assunto <span class="red-alert">{{error.subject}}</span></label>
            <input v-model="contact.subject" type="text" placeholder="Comercial" data-role="input" data-prepend="<span class='mif-import-contacts'></span>"/>
          </div>

          <!-- Message -->
          <div class="form-group">
            <label>Mensagem <span class="red-alert">{{error.message}}</span></label>
            <textarea v-model="contact.message" data-role="textarea" data-auto-size="true" data-max-height="200" data-prepend="<span class='mif-chat-bubble'></span>"></textarea>
          </div>
          <br>
          <button class="button alert outline" v-on:click="OpenForm(false)">Fechar</button>
          <button class="button success outline" v-on:click="Send" :disabled="disabledButton">Enviar</button>
        <span>{{messageResult}}</span>
        </div>
      </div>
    </div>

    <!--
      https://metroui.org.ua/
      https://br.vuejs.org/v2/cookbook/using-axios-to-consume-apis.html
      https://github.com/axios/axios
      https://developer.mozilla.org/pt-BR/docs/Web/API/FormData/FormData
    -->
    <script src="js/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="metroui/js/metro.min.js" charset="utf-8"></script>

    <script src="js/vue.js" charset="utf-8"></script>
    <script src="js/axios.min.js" charset="utf-8"></script>
    <script src="js/vue-app.js" charset="utf-8"></script>
  </body>
</html>
